header {
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  background-color: #111111;
  height: 5vh;
  width: 100%;
  min-height: 20px;
  position: fixed;
  border-bottom: 2px solid #0198af;
}
header nav {
  margin: 0;
  padding: 0;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  display: flex;
  justify-content: space-around;
}
header nav ul {
  margin: 0;
  padding: 0;
  width: 60%;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  flex-wrap: wrap;
  transform: scale(1);
}
header nav ul li {
  font-size: 1.2rem;
  color: #0bb3ae;
  cursor: pointer;
}
header nav ul li:hover {
  color: #118e75;
}

.about-div {
  margin-top: 20vh;
  margin-left: 15%;
  margin-bottom: 10vh;
  height: auto;
  width: 40vw;
}
.about-div h1 {
  margin: 0;
  padding: 0;
  color: #0bb3ae;
  font-size: 3.5rem;
}
.about-div h2 {
  margin: 0;
  padding: 0;
  margin-top: 2vh;
  color: #eeeeee;
  font-size: 2rem;
}
.about-div p {
  margin: 0;
  padding: 0;
  margin-top: 2vh;
  color: #eeeeee;
  font-size: 1.3rem;
}
.about-div button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #282e2d;
  margin-top: 3vh;
  font-size: 1.3rem;
  border: none;
  font-family: "Times New Roman";
  cursor: pointer;
  padding: 0.3rem;
}
.about-div button:hover {
  background: #344b47;
  box-shadow: 0 0 5px #0bb3ae;
}
.about-div button .icon-div {
  width: 2vw;
  height: 3vh;
  position: relative;
}
.about-div button p {
  margin: 0;
  padding: 0;
  color: #0198af;
  margin-left: 0.5vw;
}

.projects-div {
  margin-left: 15%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 75%;
  margin-bottom: 10vh;
}
.projects-div h1 {
  color: #0bb3ae;
  align-self: flex-start;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.projects-div .projects-container {
  margin-top: 3vh;
  background: darkblue;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}
.projects-div .see-more-btn {
  background: #282e2d;
  cursor: pointer;
  color: #0198af;
  width: 10vw;
  height: 5vh;
  font-family: "Times New Roman";
  font-size: 1.3rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1vh;
}
.projects-div .see-more-btn:hover {
  background: #344b47;
  box-shadow: 0 0 5px #0bb3ae;
}
.projects-div .see-more-btn .icon-div {
  width: 2vw;
  height: 3vh;
  margin-right: 0.5vw;
  position: relative;
}

.project {
  background: #282e2d;
  height: 40vh;
  width: 45%;
  padding: 1%;
}
.project .project-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 85%;
}
.project .project-content .image-container {
  height: 100%;
  width: 50%;
  position: relative;
  border-radius: 10px;
}
.project .project-content .image-container .proy-image {
  border-radius: 10px;
}
.project .project-content .text-container {
  height: 100%;
  width: 50%;
  padding-left: 2%;
  box-sizing: border-box;
}
.project .project-content .text-container h1 {
  font-size: 1.5rem;
}
.project .project-content .text-container p {
  color: #eeeeee;
}
.project .button-container {
  display: flex;
  justify-content: space-between;
  height: 12%;
  width: 100%;
  margin-top: 1vh;
}
.project .button-container button {
  color: #000000;
  background: #0bb3ae;
  border: none;
  width: 40%;
  height: 100%;
  font-family: "Times New Roman";
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.project .button-container button:hover {
  background: #118e75;
  box-shadow: 0 0 5px #0bb3ae;
}

.tags-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.tags-container .tag {
  background: #1b1e1e;
  color: #0198af;
  margin-right: 3px;
  border-radius: 5px;
  width: fit-content;
  height: 1rem;
  padding: 0.2rem;
}

.git-logo-div {
  height: 90%;
  width: 1.6vw;
  position: relative;
  margin-right: 3%;
}

.eye-logo-div {
  height: 70%;
  width: 1.8vw;
  position: relative;
  margin-right: 3%;
}

.tech-div {
  padding-left: 15%;
  margin-right: 10%;
  width: 75%;
  height: auto;
  margin-bottom: 10vh;
}
.tech-div h1 {
  color: #0bb3ae;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.tech-div ul {
  margin-top: 3vh;
  padding: 0;
  box-sizing: border-box;
  padding-left: 2%;
  padding-right: 2%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  min-height: 10vh;
  justify-content: center;
}
.tech-div ul li {
  background: #116c6c;
  border-radius: 50px;
  height: 5vw;
  margin-left: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
}
.tech-div ul li .image-container {
  height: 4vw;
  width: 4vw;
  position: relative;
}

.contact-div {
  padding-left: 15%;
  margin-right: 10%;
  width: 75%;
  height: auto;
  margin-bottom: 10vh;
}
.contact-div h1 {
  color: #0bb3ae;
  margin: 0;
  padding: 0;
  font-size: 3rem;
}
.contact-div .content {
  display: flex;
  align-items: flex-start;
  padding-top: 1%;
  margin-top: 3vh;
  width: 100%;
  height: auto;
  min-height: 20vh;
}
.contact-div .content .form {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
}
.contact-div .content .form label {
  font-size: 1.5rem;
  color: #0bb3ae;
  margin-bottom: 20px;
}
.contact-div .content .form input {
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  margin-bottom: 2vh;
  border-radius: 3px;
  min-height: 2rem;
}
.contact-div .content .form input:hover {
  box-shadow: 0 0 10px 2px #0bb3ae;
}
.contact-div .content .form textarea {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2vh;
  min-height: 5rem;
  max-width: 100%;
  min-width: 100%;
}
.contact-div .content .form textarea:hover {
  box-shadow: 0 0 10px 2px #0bb3ae;
}
.contact-div .content .form .submit-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-div .content .form .submit-div .submit-btn {
  display: flex;
  align-items: center;
  height: 5vh;
  width: 20%;
  color: #0198af;
  margin-top: 1vh;
  background: #282e2d;
  border: none;
  font-family: "Times New Roman";
  font-size: 1.3rem;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 5px;
}
.contact-div .content .form .submit-div .submit-btn:hover {
  background: #344b47;
  box-shadow: 0 0 5px #0bb3ae;
}
.contact-div .content .form .submit-div .submit-btn .icon-div {
  width: 2vw;
  height: 3vh;
  margin-left: 0.2vw;
  margin-right: 0.5vw;
  position: relative;
}
.contact-div .content .contact {
  width: 40%;
  margin-left: 3vw;
  box-sizing: border-box;
  height: 100%;
}
.contact-div .content .contact p {
  color: #0bb3ae;
  font-size: 1.5rem;
  text-align: center;
}
.contact-div .content .contact .links-div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.contact-div .content .contact .links-div .logo-div {
  cursor: pointer;
  margin-left: 0.5vw;
  width: 4vw;
  height: 8vh;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Times New Roman";
  background: #111111;
  width: 100%;
  height: auto;
  max-zoom: 1;
}

/*# sourceMappingURL=main.css.map */
