$green-1: #0bb3ae;
$green-2: #118e75;
$green-3: #116c6c;
$blue-1: #0198af;
$light-1: #eeeeee;
$red-1: #a80606;
$dark-1: #000000;
$dark-2: #111111;
$dark-3: #1b1e1e;
$dark-4: #282e2d;
$dark-green: #344b47;

@font-face {
  font-family: "Lusitana";
  src: url(/fonts/lusitana-v13-latin-regular.woff) format("woff");
}
$font-1: "Lusitana";
$font-2: "Times New Roman";
