$green-1: #0bb3ae;
$green-2: #118e75;
$blue-1: #0198af;
$light-1: #eeeeee;
$red-1: #a80606;
$dark-1: #000000;
$dark-2: #111111;
$dark-3: #1b1e1e;
$dark-4: #282e2d;
$dark-green: #344b47;

$font-1: "Times New Roman";
