.about-div {
  padding-top: 30vh;
  margin-left: 15%;
  margin-bottom: 25vh;
  height: auto;
  width: 40vw;
  h1 {
    margin: 0;
    padding: 0;
    color: $green-1;
    font-size: 3.5rem;
  }
  h2 {
    margin: 0;
    padding: 0;
    margin-top: 2vh;
    color: $light-1;
    font-size: 2rem;
  }
  p {
    margin: 0;
    padding: 0;
    margin-top: 2vh;
    color: $light-1;
    font-size: 1.3rem;
  }
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $dark-4;
    margin-top: 3vh;
    font-size: 1.3rem;
    border: none;
    font-family: $font-1;
    cursor: pointer;
    padding: 0.3rem;
    &:hover {
      background: $dark-green;
      box-shadow: 0 0 5px $green-1;
    }
    .icon-div {
      width: 2vw;
      height: 3vh;
      position: relative;
    }
    p {
      margin: 0;
      padding: 0;
      color: $blue-1;
      margin-left: 0.5vw;
    }
  }
}
