.contact-div {
  padding-left: 15%;
  margin-right: 10%;
  padding-top: 5vh;
  width: 75%;
  height: auto;
  margin-bottom: 10vh;
  h1 {
    color: $green-1;
    margin: 0;
    padding: 0;
    font-size: 3rem;
  }
  .content {
    // background: green;
    display: flex;
    align-items: flex-start;
    padding-top: 1%;
    margin-top: 3vh;
    width: 100%;
    height: auto;
    min-height: 20vh;
    .form {
      display: flex;
      flex-direction: column;
      // background: blue;
      width: 60%;
      height: 100%;
      label {
        font-size: 1.5rem;
        color: $green-1;
        margin: 0;
        padding: 0;
        transform: translateY(30%);
        // margin-bottom: 5px;
        display: flex;
      }
      input {
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
        margin-bottom: 1vh;
        // border: none;
        border-radius: 3px;
        min-height: 2rem;
        font-size: 1.3rem;
        font-family: $font-1;
        &:hover {
          box-shadow: 0 0 10px 2px $green-1;
        }
      }
      textarea {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: 1vh;
        min-height: 5rem;
        max-width: 100%;
        min-width: 100%;
        font-size: 1.3rem;
        font-family: $font-1;
        &:hover {
          box-shadow: 0 0 10px 2px $green-1;
        }
      }
      // br {
      //   margin: 0;
      //   padding: 0;
      // }
      .error {
        margin: 0;
        padding: 0;
        color: $red-1;
      }
      .success-msg {
        margin: 0;
        padding: 6px;
        font-size: 1.3rem;
        background: $green-2;
        color: $light-1;
        border-radius: 5px;
      }
      .fail-msg {
        margin: 0;
        padding: 6px;
        font-size: 1.3rem;
        background: $red-1;
        color: $light-1;
        border-radius: 5px;
      }
      .submit-div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        .submit-btn {
          display: flex;
          align-items: center;
          height: 5vh;
          width: 20%;
          color: $blue-1;
          margin-top: 1vh;
          background: $dark-4;
          border: none;
          font-family: $font-1;
          font-size: 1.3rem;
          cursor: pointer;
          padding: 0.3rem;
          border-radius: 5px;
          &:hover {
            background: $dark-green;
            box-shadow: 0 0 5px $green-1;
          }
          .icon-div {
            width: 2vw;
            height: 3vh;
            margin-left: 0.2vw;
            margin-right: 0.5vw;
            position: relative;
          }
        }
      }
    }
    .contact {
      // background: blueviolet;
      width: 40%;
      margin-left: 3vw;
      box-sizing: border-box;
      height: 100%;
      p {
        color: $green-1;
        font-size: 1.5rem;
        text-align: center;
      }
      .links-div {
        display: flex;
        align-items: center;
        justify-content: center;
        // background: darkcyan;
        width: 100%;
        height: auto;
        .logo-div {
          cursor: pointer;
          margin-left: 0.5vw;
          // background: darkgray;
          width: 4vw;
          height: 8vh;
          position: relative;
        }
      }
    }
  }
}
