header {
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  // background: blue;
  background-color: $dark-2;
  height: 5vh;
  width: 100%;
  min-height: 20px;
  position: fixed;
  border-bottom: 2px solid $blue-1;
  nav {
    margin: 0;
    padding: 0;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    // background: purple;
    ul {
      margin: 0;
      padding: 0;
      width: 60%;
      height: 100%;
      list-style: none;
      //   background: orange;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        font-size: 1.2rem;
        color: $green-1;
        cursor: pointer;
        &:hover {
          color: $green-2;
        }
      }
    }
  }
}
