@import "variables";
@import "header";
@import "about";
@import "projects";
@import "tech";
@import "contact";
body {
  margin: 0;
  padding: 0;
  font-family: $font-1;
  background: $dark-2;
  width: 100%;
  height: auto;
}
