.projects-div {
  margin-left: 15%;
  margin-right: 10%;
  height: auto;
  width: 75%;
  margin-bottom: 10vh;
  // background: purple;
  h1 {
    color: $green-1;
    margin: 0;
    padding: 0;
    font-size: 3rem;
  }
  .projects-container {
    margin-top: 3vh;
    background: darkblue;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.project {
  background: $dark-4;
  height: 40vh;
  width: 45%;
  padding: 1%;
  // background: yellow;
  .project-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    // background: green;
    width: 100%;
    height: 85%;
    .image-container {
      // background: darkgoldenrod;
      height: 100%;
      width: 50%;
      position: relative;
      border-radius: 10px;
      .proy-image {
        border-radius: 10px;
      }
    }
    .text-container {
      height: 100%;
      width: 50%;
      padding-left: 2%;
      box-sizing: border-box;
      // background: darkmagenta;
      h1 {
        font-size: 1.5rem;
      }
      p {
        color: $light-1;
      }
    }
  }
  .button-container {
    // background: red;
    display: flex;
    justify-content: space-between;
    height: 12%;
    width: 100%;
    margin-top: 1vh;
    button {
      color: $dark-1;
      background: $green-1;
      border: none;
      width: 40%;
      height: 100%;
      font-family: $font-1;
      font-size: 1rem;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      &:hover {
        background: $green-2;
        box-shadow: 0 0 5px $green-1;
      }
    }
  }
}
.tags-container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  .tag {
    background: $dark-3;
    color: $blue-1;
    margin-right: 3px;
    border-radius: 5px;
    width: fit-content;
    height: 1rem;
    padding: 0.2rem;
  }
}
.git-logo-div {
  height: 90%;
  width: 1.6vw;
  position: relative;
  margin-right: 3%;
}

.eye-logo-div {
  height: 70%;
  width: 1.8vw;
  position: relative;
  margin-right: 3%;
}
